body {
    margin: 0;
    padding: 0;
    background-color: lightgrey;
}

/* First CSS code for Navigation bar */

header {
    background-color: white;
    width: 100%;
    height: 100px;
}
.img1 {
    margin: 10px;
    position: absolute;
}
ol {
    width: auto;
    float: left;
    margin-top: 25px;
    margin-left: 50px;
}
.li1 {
    display: inline-block;
    padding: 10px 10px;
    font-size: 15px;
}
a {
    text-align: center;
    color: black;
    text-decoration: none;
}
.input1 {
    margin-top: 35px;
}

/* Here is the second main content CSS code */

div {
    background-color: white;
    width: 600px;
    height: 600px;
    margin: 10px;
    border-radius: 8%;
    text-align: left;
}
.heading3 {
    text-align: left;
    margin-left: 25px;
    padding: 10px 10px;
    font-size: 33px;
    color: orange;
}
.categorie4 {
    margin-left: 25px;
    margin-top: -20px;
}
.categorie5 {
    margin-left: 150px;
    margin-top: -42px;
}
.categorie6 {
    margin-left: 280px;
    margin-top: -41px;
}
.img3 {
    margin-left: 25px;
    height: 50%;
    width: 550px;
    border-radius: 5%;
}
.paragraph2 {
    margin: 15px;
    margin-right: 10px;
    font-size: 14px;

}
.heading4 a{
    color: white;
    margin-left: 15px;
}
.heading4 {
    padding: 10px;
}

/* Here is footer CSS code */

footer {
    margin-top: 200px;
    background-color: grey;
    width: 1500px;
    height: 50px;
}
.last-heading {
    margin: 10px;
    position: absolute;
}
.youtube {
    width: auto;
    float: left;
    margin-top: 10px;
    margin-left: 300px;
}
.facebook {
    width: auto;
    float: left;
    margin-top: 10px;
    margin-left: 25px;
}
.snapchat {
    width: auto;
    float: left;
    margin-top: 10px;
    margin-left: 25px;
}
.google {
    width: auto;
    float: left;
    margin-top: 10px;
    margin-left: 25px;
}

/* Here is my designed scrollbar CSS code */

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    border-radius: 5px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.25);
}
::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: orangered;
}
::-webkit-scrollbar-thumb:hover {
    background-color: orange;
}
